:root {
  --whiteColor: #f4f5f4;
  --blackColor: #080708;
  --blueColor: #0aa9ff;
  --greyColor: #d4d8d4;
  --platinumColor: #e6e8e6;
  --redColor: #f50010;
  --greenColor: #2a9134;
}

@import url('./vendor/normalize.css');
@import url('./blocks/page/page.css');
@import url('./blocks/page/_hidden/page_hidden.css');
@import url('./blocks/loading/loading.css');
@import url('./blocks/loading/_hidden/loading_hidden.css');
@import url('./blocks/loading/__text/loading__text.css');
@import url('./blocks/menu/menu.css');
@import url('./blocks/menu/__notif-icon-overlay/menu__notif-icon-overlay.css');
@import url('./blocks/menu/__notif-icon/menu__notif-icon.css');
@import url('./blocks/menu/__notif-count/menu__notif-count.css');
@import url('./blocks/menu/__notif-container/menu__notif-continer.css');
@import url('./blocks/menu/__notif-friend-image/menu__notif-friend-image.css');
@import url('./blocks/menu/__notif-friend-content/menu__notif-friend-content.css');
@import url('./blocks/menu/__notif-friend-name/menu__notif-friend-name.css');
@import url('./blocks/menu/__notif-content/menu__notif-content.css');
@import url('./blocks/menu/__notif-text/menu__notif-text.css');
@import url('./blocks/menu/__notif-time/menu__notif-time.css');
@import url('./blocks/menu/__notif-buttons/menu__notif-buttons.css');
@import url('./blocks/menu/__notif-button/menu__notif-button.css');
@import url('./blocks/menu/__notif-button/_up/menu__notif-button_up.css');
@import url('./blocks/menu/__notif-button/_down/menu__notif-button_down.css');
@import url('./blocks/menu/__notif-button-image/menu__notif-button-image.css');
@import url('./blocks/menu/__button/menu__button.css');
@import url('./blocks/menu/__icon/menu__icon.css');
@import url('./blocks/menu/__button-count/menu__button-count.css');
@import url('./blocks/main/main.css');
@import url('./blocks/main/__title/main__title.css');
@import url('./blocks/main/__subtitle/main__subtitle.css');
@import url('./blocks/main/__container/main__container.css');
@import url('./blocks/main/__link/main__link.css');
@import url('./blocks/main/__link-title/main__link-title.css');
@import url('./blocks/main/__link-subtitle/main__link-subtitle.css');
@import url('./blocks/form-page/form-page.css');
@import url('./blocks/form-page/_hidden/form-page_hidden.css');
@import url('./blocks/form-page/__title/form-page__title.css');
@import url('./blocks/form-page/__subtitle/form-page__subtitle.css');
@import url('./blocks/form-page/__grid/form-page__grid.css');
@import url('./blocks/form-page/__form/form-page__form.css');
@import url('./blocks/form-page/__input-row/form-page__input-row.css');
@import url('./blocks/form-page/__input-container/form-page__input-container.css');
@import url('./blocks/form-page/__input-container/_register/form-page__input-container_register.css');
@import url('./blocks/form-page/__input-container/_password/form-page__input-container_password.css');
@import url('./blocks//form-page/__user-taken/form-page__user-taken.css');
@import url('./blocks/form-page/__user-taken-text/form-page__user-taken-text.css');
@import url('./blocks/form-page/__input-title/form-page__input-title.css');
@import url('./blocks/form-page/__input/form-page__input.css');
@import url('./blocks/form-page/__input/_email/form-page__input_email.css');
@import url('./blocks/form-page/__input/_password/form-page__input_password.css');
@import url('./blocks/form-page/__select-row/form-page__select-row.css');
@import url('./blocks/form-page/__select-container/form-page__select-container.css');
@import url('./blocks/form-page/__select-title/form-page__select-title.css');
@import url('./blocks/form-page/__select-gender/form-page__select-gender.css');
@import url('./blocks/form-page/__select-input/form-page__select-input.css');
@import url('./blocks/form-page/__error-input/form-page__error-input.css');
@import url('./blocks/form-page/__show-password/form-page__show-password.css');
@import url('./blocks/form-page/__submit-button/form-page__submit-button.css');
@import url('./blocks/form-page/__navigate-container/form-page__navigate-container.css');
@import url('./blocks/form-page/__navigate-text/form-page__navigate-text.css');
@import url('./blocks/chats/chats.css');
@import url('./blocks/chats/__contacts/chats__contacts.css');
@import url('./blocks/chats/__contacts-top/chats__contacts-top.css');
@import url('./blocks/chats/__group-title/chats__group-title.css');
@import url('./blocks/chats/__compose-button/chats__compose-button.css');
@import url('./blocks/chats/__compose-icon/chats__compose-icon.css');
@import url('./blocks/chats/__title/chats__title.css');
@import url('./blocks/chats/__back-button/chats__back-button.css');
@import url('./blocks/chats/__back-title/chats__back-title.css');
@import url('./blocks/chats/__contacts-main/chats__contacts-main.css');
@import url('./blocks/chats/__chat-link/chats__chat-link.css');
@import url('./blocks/chats/__friend-icon/chats__friend-icon.css');
@import url('./blocks/chats/__chat-row/chats__chat-row.css');
@import url('./blocks/chats/__chat-column/chats__chat-column.css');
@import url('./blocks/chats/__chat-title/chats__chat-title.css');
@import url('./blocks/chats/__chat-message/chats__chat-message.css');
@import url('./blocks/chats/__chat-end-column/chats__chat-end-column.css');
@import url('./blocks/chats/__chat-time/chats__chat-time.css');
@import url('./blocks/chats/__chat-mute/chats__chat-mute.css');
@import url('./blocks/chats/__chat-unread/chats__chat-unread.css');
@import url('./blocks/chats/__chat-unread-count/chats__chat-unread-count.css');
@import url('./blocks/chats/__chat-messages-container/chats__chat-messages-container.css');
@import url('./blocks/chats/__messages-header/chats__messages-header.css');
@import url('./blocks/chats/__friend-header-icon/chats__friend-header-icon.css');
@import url('./blocks/chats/__friend-header-texts/chats__friend-header-texts.css');
@import url('./blocks/chats/__friend-header-name/chats____friend-header-name.css');
@import url('./blocks/chats/__friend-header-typing/chats__friend-header-typing.css');
@import url('./blocks/chats/__friend-header-bottom-title/chats__friend-header-bottom-title.css');
@import url('./blocks/chats/__friend-header-bottom-text/chats__friend-header-bottom-text.css');
@import url('./blocks/chats/__messages-container/chats__messages-container.css');
@import url('./blocks/chats/__message/chats__message.css');
@import url('./blocks/chats/__message/_user/chats__message_user.css');
@import url('./blocks/chats/__message/_friend/chats__message_friend.css');
@import url('./blocks/chats/__message-by/chats__message-by.css');
@import url('./blocks/chats/__message-content/chats__message-content.css');
@import url('./blocks/chats/__message-text/chats__message-text.css');
@import url('./blocks/chats/__message-date/chats__message-date.css');
@import url('./blocks/chats/__send-form/chats__send-form.css');
@import url('./blocks/chats/__message-input/chats__message-input.css');
@import url('./blocks/chats/__send-button/chats__send-button.css');
@import url('./blocks/chats/__send-icon/chats__send-icon.css');
@import url('./blocks/add-friends/add-friends.css');
@import url('./blocks/add-friends/__back-button/add-friends__back-button.css');
@import url('./blocks/add-friends/__back-title/add-friends__back-title.css');
@import url('./blocks/add-friends/__friends/add__friend__friends.css');
@import url('./blocks/add-friends/__title/add-friends__title.css');
@import url('./blocks/add-friends/__friends-container/add-friends__friends-container.css');
@import url('./blocks/add-friends/__friend-container/add-friends__friend-container.css');
@import url('./blocks/add-friends/__friend-image/add-friends__friend-image.css');
@import url('./blocks/add-friends/__action-container/add-friends__action-container.css');
@import url('./blocks/add-friends/__friend-name/add-friends__friend-name.css');
@import url('./blocks/add-friends/__buttons-container/add-friends__buttons-container.css');
@import url('./blocks/add-friends/__add-button/add-friends__add-button.css');
@import url('./blocks/add-friends/__add-icon/add-friends__add-icon.css');
@import url('./blocks/add-friends/__add-text/add-friends__add-text.css');
@import url('./blocks/settings/settings.css');
@import url('./blocks/settings/__back-button/settings__back-button.css');
@import url('./blocks/settings/__back-title/settings__back-title.css');
@import url('./blocks/settings/__title/settings__title.css');
@import url('./blocks/settings/__subtitle/settings__subtitle.css');
@import url('./blocks/settings/__profile-container/settings__profile-container.css');
@import url('./blocks/settings/__user-container/settings__user-container.css');
@import url('./blocks/settings/__profile-form/settings__profile-form.css');
@import url('./blocks/settings/__profile-image/settings__profile-image.css');
@import url('./blocks/settings/__input-file/settings__input-file.css');
@import url('./blocks/settings/__profile-name/settings__profile-name.css');
@import url('./blocks/settings/__profile-info/settings__profile-info.css');
@import url('./blocks/settings/__update-button/settings__update-button.css');
@import url('./blocks/settings/__user-friends/settings__user-friends.css');
@import url('./blocks/settings/__friends-title/settings__friends-title.css');
@import url('./blocks/settings/__friends-list/settings__friends-list.css');
@import url('./blocks/settings/__friend-card/settings__friend-card.css');
@import url('./blocks/settings/__friend-image/settings__friend-image.css');
@import url('./blocks/settings/__friend-container/settings__friend-container.css');
@import url('./blocks/settings/__friend-name/settings__friend-name.css');
@import url('./blocks/settings/__friend-buttons/settings__friend-button.css');
@import url('./blocks/settings/__friend-button/settings__friend-button.css');
@import url('./blocks/settings/__friend-button-text/settings__friend-button-text.css');
@import url('./blocks/popup/Popup.css');
@import url('./blocks/no-scroll-bar/no-scroll-bar.css');
