.chats__friend-header-bottom-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 10px 0 0 0;
  max-height: 45px;
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
