.chats__friend-header-icon {
  width: 100px;
  height: 100px;
  margin: 5px 15px 15px 5px;
  border-radius: 50%;
}

@media screen and (max-width: 945px) {
  .chats__friend-header-icon {
    margin: 15px 15px 5px 5px;
  }
}
