.chats__contacts {
  width: 30%;
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 5px solid var(--blackColor);
}

@media screen and (max-width: 945px) {
  .chats__contacts {
    width: 100%
  }
}
