.settings__profile-info {
  margin: 10px 0;
  padding: 5px 10px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 2px 2px var(--blackColor);
}

span[class = settings__profile-info] {
  box-shadow: none;
  background-color: transparent;
}

@media screen and (max-width: 945px) {
  .settings__profile-info {
    width: 95%;
  }
}
