.settings__user-friends {
  padding: 0 35px;
  margin: 20px 0;
  box-shadow: 0 0 2px 1px var(--blackColor);
  border-radius: 25px;
  background-color: var(--greyColor);
  display: flex;
  flex-direction: column;
}
