.add-friends__more-friend-name,
.add-friends__request-friend-name,
.add-friends__pending-friend-name {
  margin: 0 0 15px 0;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
